@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<body>
    <div class = "box1">
        <div class = box1-inner>Super Flash Sale 50% Off</div>
    </div>

    <div class = "product1">
        <div class = "product1-first">
            <div class ="product1-first-title">FS - QUILTED MAXI CROSS BAG</div>
            <div class ="product1-first-price">$299,43</div>
            <div class = "product1-first-disc">$534,33 </div>
            <div class = "product1-first-disc1">24% Off</div>
        </div>
        <div class = "product1-second">
            <div class ="prod1-sec-title">FS - Nike Air Max 270 React...</div>
            <div class ="prod1-sec-price">$299,43</div>
            <div class = "prod1-sec-disc">$534,33 </div>
            <div class = "prod1-sec-disc1">24% Off</div>
        </div>
        <div class = "product1-third">
            <div class ="prod1-third-title">FS - Nike Air Max 270 React...</div>
            <div class ="prod1-third-price">$299,43</div>
            <div class = "prod1-third-disc">$534,33 </div>
            <div class = "prod1-third-disc1">24% Off</div>
        </div>
    </div>

    <div class="bs">
        <div class="bs1">BEST SELLER</div>
        <div class="bs2">All</div>
        <div class="bs3">Bags</div>
        <div class="bs4">Sneakers</div>
        <div class="bs5">Belt</div>
        <div class="bs6">Sunglasses</div>
        <div class="bs7">
            <div class="bs7-tag"></div>
            <div class="bs7-image"></div>
            <div class="bs7-content">Nike Air Max 270 React</div>
            <div class="bs7-tag"></div>
            <div class="bs7-hottag">HOT</div>
            <div class="bs7-rating1"></div>
            <div class="bs7-rating2"></div>
            <div class="bs7-rating3"></div>
            <div class="bs7-rating4"></div>
            <div class="bs7-rating5"></div>
            <div class="bs7-price">$299.43</div>
            <div class="bs7-discprice">$534.33</div>
            <div class="bs7-disc">24% Off</div>

        </div>
        <div class="bs8">
            <div class="bs8-image"></div>
            <div class="bs8-content">Nike Air Max 270 React</div>
            <div class="bs8-rating1"></div>
            <div class="bs8-rating2"></div>
            <div class="bs8-rating3"></div>
            <div class="bs8-rating4"></div>
            <div class="bs8-rating5"></div>
            <div class="bs8-price">$299.43</div>
            <div class="bs8-discprice">$534.33</div>
            <div class="bs8-disc">24% Off</div>
        </div>
        <div class="bs9">
            <div class="bs9-image"></div>
            <div class="bs9-image2"></div>
            <div class="bs9-image3"></div>
            <div class="bs9-content">Nike Air Max 270 React</div>
            <div class="bs9-rating1"></div>
            <div class="bs9-rating2"></div>
            <div class="bs9-rating3"></div>
            <div class="bs9-rating4"></div>
            <div class="bs9-rating5"></div>
            <div class="bs9-price">$299.43</div>
            <div class="bs9-discprice">$534.33</div>
            <div class="bs9-disc">24% Off</div>
        </div>
        <div class="bs10">
            <div class="bs10-image"></div>
            <div class="bs10-content">Nike Air Max 270 React</div>
            <div class="bs10-rating1"></div>
            <div class="bs10-rating2"></div>
            <div class="bs10-rating3"></div>
            <div class="bs10-rating4"></div>
            <div class="bs10-rating5"></div>
            <div class="bs10-price">$299.43</div>
            <div class="bs10-discprice">$534.33</div>
            <div class="bs10-disc">24% Off</div>
        </div>
        <div class="bs11">
            <div class="bs11-image"></div>
            <div class="bs11-content">Nike Air Max 270 React</div>
            <div class="bs11-rating1"></div>
            <div class="bs11-rating2"></div>
            <div class="bs11-rating3"></div>
            <div class="bs11-rating4"></div>
            <div class="bs11-rating5"></div>
            <div class="bs11-price">$299.43</div>
            <div class="bs11-discprice"> $534.33</div>
            <div class="bs11-disc">24% Off</div>
        </div>
        <div class="bs12">
            <div class="bs12-image"></div>
            <div class="bs12-content">Nike Air Max 270 React</div>
            <div class="bs12-rating1"></div>
            <div class="bs12-rating2"></div>
            <div class="bs12-rating3"></div>
            <div class="bs12-rating4"></div>
            <div class="bs12-rating5"></div>
            <div class="bs12-price">$299.43</div>
            <div class="bs12-discprice">$534.33</div>
            <div class="bs12-disc">24% Off</div>
        </div>
        <div class="bs13">
            <div class="bs13-image"></div>
            <div class="bs13-content">Nike Air Max 270 React</div>
            <div class="bs13-rating1"></div>
            <div class="bs13-rating2"></div>
            <div class="bs13-rating3"></div>
            <div class="bs13-rating4"></div>
            <div class="bs13-rating5"></div>
            <div class="bs13-price">$299.43</div>
            <div class="bs13-discprice">$534.33</div>
            <div class="bs13-disc">24% Off</div>
        </div>
        <div class="bs14">
            <div class="bs14-image"></div>
            <div class="bs14-content">Nike Air Max 270 React</div>
            <div class="bs14-rating1"></div>
            <div class="bs14-rating2"></div>
            <div class="bs14-rating3"></div>
            <div class="bs14-rating4"></div>
            <div class="bs14-rating5"></div>
            <div class="bs14-price">$299.43</div>
            <div class="bs14-discprice">$534.33</div>
            <div class="bs14-disc">24% Off</div>
        </div>

    </div>

    <div class="bigS">
        <div class="bigS-shoe"></div>
        <div class="bigS-title">Adidas Men Running Sneakers</div>
        <div class="bigS-desc">Performance and design. Taken right to the edge.</div>
        <div class="bigS-ad">SHOP NOW</div>
        <div class="bigS-line"></div>
    </div>

    <div class="other">
        <div class="other1">
            <div class="other1-image"></div>
            <div class="other1-title">  FREE SHIPPING</div>
            <div class="other1-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        </div>
        <div class="other2">
            <div class="other2-image"></div>
            <div class="other2-image2"></div>
            <div class="other2-title">100% REFUND</div>
            <div class="other2-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        </div>
        <div class="other3">
            <div class="other3-image"></div>
            <div class="other3-image2"></div>
            <div class="other3-title">SUPPORT 24/7</div>
            <div class="other3-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        </div>
        <div class="other4">
            <div class="other4-text">LATEST NEWS</div>
        </div>
        <div class="other5">
            <div class="other5-image"></div>
            <div class="other5-title">Fashion Industry</div>
            <div class="other5-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        </div>
        <div class="other6">
            <div class="other6-image"></div>
            <div class="other6-title">Best Design Tools</div>
            <div class="other6-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        </div>
        <div class="other7">
            <div class="other7-image"></div>
            <div class="other7-title">HR Community</div>
            <div class="other7-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        </div>
        <div class="other8">
            <div class="other8-text">FEATURED PRODUCTS</div>
        </div>
        <div class="other9">
            <div class="other9-image"></div>
            <div class="other9-title">Blue Swade Nike Sneakers</div>
            <div class="other9-desc"></div>
            <div class="other9-rating1"></div>
            <div class="other9-rating2"></div>
            <div class="other9-rating3"></div>
            <div class="other9-rating4"></div>
            <div class="other9-rating5"></div>
            <div class="other9-price">$499</div>
            <div class="other9-disc">$599</div>
        </div>
        <div class="other10">
            <div class="other10-image"></div>
            <div class="other10-title">Blue Swade Nike Sneakers</div>
            <div class="other10-desc"></div>
            <div class="other10-rating1"></div>
            <div class="other10-rating2"></div>
            <div class="other10-rating3"></div>
            <div class="other10-rating4"></div>
            <div class="other10-rating5"></div>
            <div class="other10-price">$499</div>
            <div class="other10-disc">$599</div>
        </div>
        <div class="other11">
            <div class="other11-image"></div>
            <div class="other11-title">Blue Swade Nike Sneakers</div>
            <div class="other11-desc"></div>
            <div class="other11-rating1"></div>
            <div class="other11-rating2"></div>
            <div class="other11-rating3"></div>
            <div class="other11-rating4"></div>
            <div class="other11-rating5"></div>
            <div class="other11-price">$499</div>
            <div class="other11-disc">$599</div>
        </div>
    </div>

    <div class = "search-box">
         <button class="search-btn" type="button">Search</button>
         <div class="search-text">search query</div>
    </div>

</body>